# macOS
.DS_Store

# Local heavy resources (not source of truth)
AdaFruitResources/

# Build/install artifacts
build/

# Local virtualenv used for tooling
.venv/
src/libArchive
src/stubArchive
src/apps/MidiCommander/._helpers/Chords/__pycache__
src/apps/MidiCommander/__pycache__
src/apps/__pycache__
