# macOS
.DS_Store

# Local heavy resources (not source of truth)
AdaFruitResources/

# Build/install artifacts
build/

# Local virtualenv used for tooling
.venv/
src/libArchive
src/stubArchive
src/apps/Orion/._helpers/Chords/__pycache__
src/apps/Orion/__pycache__
src/apps/__pycache__
*.tmp
UI-DESIGN_00.ai
